<div class="jumbotron">
  <div class="container">
    <div class="jumbotron top-3-movies" style="background-color: lightblue">
      <div class="row">
        <% @top.each do |movie| %>
          <%= render partial: "partials/top_three_movie_display", locals: { movie: movie } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="jumbotron genres" style="background-color: lightblue">
      <div class="row">
        <% @genres.each do |genre| %>
          <div class="col-sm-6 col-md-4 clickable-card">
            <%= link_to genre_path(genre) do %>
              <div class="thumbnail gif-display shadow">
                <div class="gif">
                  <iframe src=<%= get_gif(genre).to_s %>></iframe>
                </div>
                <h3 class="genres"><%= genre %></h3>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
