<div class="jumbotron">
  <div class="container">
    <div class="jumbotron top-3-movies" style="background-color: lightblue">
    <h1>TOP MOVIES</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="jumbotron genres" style="background-color: lightblue">
    <h1>GENRES</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
