.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.top-movie-title {
  width: 100%;
  text-align: center;
  margin: 2% auto 3% auto;
}

.clickable-card a {
  color: inherit;
  text-decoration: none;
}

.genres {
  width: 100%;
  text-align: center;
  margin: 2% auto 3% auto;
}

iframe {
  width: 100%;
}

.genre-page-header {
  text-align: center;
}

.genre-movies {
  width: 20%;
  height: 20em;
}
